@font-face { 
    font-family: Yanone Kaffeesatz; 
      src: url('../fonts/YanoneKaffeesatz-Regular.eot'); 
      src: local("Yanone Kaffeesatz"), url('../fonts/YanoneKaffeesatz-Regular.ttf'); 
  } 

  #container { 
    background: transparent url(images/grass.png) repeat-x bottom;
  }

  html { 
    height: auto;
  }
  
  * { 
    padding: 0;
    margin: 0;
  }

  #main, header, #logo, nav, #site_content, footer { 
    margin-left: auto; 
    margin-right: auto;
    margin-bottom: auto;
  }
  
/* HEADER START*/
  header{
    width: 800px;
    background: #FFF;
    color: #FFF;
    margin: auto;
  }
  
  #logo{
    width: 790px;
    height: 250px;
    position: relative;
    background: #FFF url(images/logo.png) no-repeat;
  }

  nav{
    background: #53C7FD;
    border-radius: 10px 10px 0px 0px;
  }

  .nav-link{
    color: #FFF;
    text-shadow: none;
}

.nav-link:hover{
    color: #E5017D;
    text-shadow: none;
}

.dropdown-menu{
  background: #53C7FD;;
}
.dropdown-item{
  color: #FFF;
  text-decoration: none;
}
.dropdown-item:hover{
  color: #E5017D;
background: none;
}
  

/* HEADER END */

/**MAIN START**/

#main { 
    margin-top: -140px;
    width: 863px;
    padding: 10px 20px 30px 20px;
    border-radius: 15px 15px 15px 15px;
    -moz-border-radius: 15px 15px 15px 15px;
    -webkit-border: 15px 15px 15px 15px;
    background: #fff;
    position: relative;
  }

#site_content { 
    width: 835px;
    background: #FFF;
    color: #555;
    overflow: hidden;
    padding: 0px 0 0px 0;
    margin: auto;
  } 

  
  /**ASIDE**/
  #sidebar_container {  
    float: right;
    width: 202px;
  }
  
  .sidebar { 
    margin: 10px 0;
    width: 178px;
    padding: 10px;
    border: 1px solid #C9E5E9;
    border-radius: 15px 15px 15px 15px;
    -moz-border-radius: 15px 15px 15px 15px;
    -webkit-border: 15px 15px 15px 15px;
    background: #F5FEFF;
  }

  .sidebar a { 
    color: #53C7FD;
  }
  body { 
    font: normal .8em arial, sans-serif;
    background: #C4E9E8 url(images/back.png) repeat-x;
    color: #555;
  }
 
#contenidoArt { 
    text-align: left;
    width: 620px;
    padding: 10px 0 25px 0px;
  }

  h4 {  
    font: normal 170% "Yanone Kaffeesatz", arial, sans-serif;
    padding: 5px 20px 5px 0;
    margin: 0;
    color: #80E804;
  }

  h1{
    font: normal 200% arial, sans-serif;
    margin: 0 0 15px 0;
    padding: 15px 20px 5px 0;
    color: #E5017D;
  }

  h5 {  
    color: #888;
    font: italic 95% arial;
    letter-spacing: normal;
    padding: 0 0 15px 0;
  }
  article > p{
        padding: 0 0 16px 0;
        line-height: 2.0em;  
  }

  article > ol{
        margin: 2px 0 0 24px;
        line-height: 1.5em;
        padding: 0px;
  }

  article, aside, figure, footer, header, hgroup, nav, section { 
    display:block;
  }
/* MAIN END */

/* FOOTER START */
footer{
    background-color: #53C7FD;
    border-radius: 0 0 10px 10px;
}
footer p{
    color: #FFF;
}
li .nav-item{
    color: #FFF;
}

footer li .nav-link{
  border-right: 1px solid #FFF;
}

footer li #lastItem{
  border-right: none;
}
/* FOOTER END */
@media screen and (max-width:1200px) {
  #logo{
    width: 100%;
  }
  #contenidoArt{
    font-size: 2vw;
  }
}

@media screen and (max-width:700px) {
  #logo{
    width: 100%;
  }
  #contenidoArt{
    font-size: 5vw;
  }
}

@media screen and (max-width:200px) {
  #logo{
    width: 100%;
  }
  #contenidoArt{
    font-size: 100vw;
  }
}
