/* Google Fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}
header{
  position: fixed;
  top: 0;left: 0;right: 0;
  background: #0c44ac;
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}

header .navbar ul{
  list-style: none;
}
header .navbar ul li{
  position: relative;
  float: left;
}
header .navbar ul li a{
 font-size: 20px;
 padding: 10px;
 color: #FFF;
 display: block;
}
header .navbar ul li a:hover{
  background: #FFF;
  color: #0c44ac;
 }

 header .navbar ul li ul{
  position: absolute;
  left:0;
  width: 200px;
  background: #0c44ac;
  display: none;
}

header .navbar ul li ul li{
  width: 100%;
  border-top: 1px solid #FFF;
}

header .navbar ul li:focus-within > ul,
header .navbar ul li:hover > ul{
  display: initial;
}

#menu-bar{
  display: none;
}

header label{
  font-size: 20px;
  color: #FFF;
  cursor: pointer;
  display: none;
}

#titulo{
  text-align: center;
  margin-top: 100px;
  margin-bottom: 25px;
  /* display: inline-block; */
}
table {
  padding: 5px;
  padding-bottom: 100px;
  text-align: center;
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  vertical-align: middle;
} 

th,
td {
  text-align: center;
  border: solid 1px black;
  padding: 5px;
}

th {
  color: white;
  background-color: #0c44ac;
}
.linkTabla{
  color: #FFF;
}
.imgTabla{
  width: 100px;
  padding: 5px;
  margin: 5px;
}

ol{
  list-style: none;
}
#more{
  text-decoration: none;
  margin:20px;
  /* border: solid #0c44ac 2px;
  background-color: #0c44ac; */
  color: black;
}

#more h2 {
  text-align: center;
  color: black;
}
#more p {
  text-align: center;
  color: black;
}
#more a {
  color:black;
}

   @media screen and (max-width: 991px) {  
      header{
        padding: 20px;
      }
      header label{
        display: initial;
      }
      header .navbar{
        position: absolute;
        top: 100%; left: 0;right: 0;
        background: #0c44ac;
        border-top: 1px solid #FFF;
        display: none;
      }
      header .navbar ul li{
          width: 100%;
      }
      header .navbar ul li ul {
        position: relative;
        width: 100%;
    }
      header .navbar ul li ul li {
        background: #0c44ac;
      }
      #menu-bar:checked ~ .navbar{
      display: initial;
      }
  } 


  @media (max-width: 650px) {
    table {
      display: block;
      overflow-x: auto;
    }
 
  *{
   font-size: small;
   }
  .imgTabla{
    width: 70px;
   }
   #titulo{
    margin-top: 70px;
    text-align: center;
    display: inline-block;
   }
}


@media (max-width: 250px) {
   *{
   font-size: x-small;
   }
   table {
    display: block;
    overflow-x: auto;
  } 
  .imgTabla{
    width: 40px;
   }
   #titulo{
    margin-top: 75px;
    text-align: center;
    display: inline-block;
   }
}

footer{
  position: static;
  background: #0c44ac;
  width: 100%;
  bottom: 0;
  left: 0;
}
footer .content .link-boxes{
  width: 100%;
  display: flex;
  justify-content: left;
}
footer .content .top{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 10px;
}
.content .link-boxes .box .link_name{
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 0px;
  position: relative;
}
.link-boxes .box .link_name::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 2px;
  width: 35px;
  background: #fff;
}
.content .link-boxes .box li{
  margin: 6px 0;
  list-style: none;
}
.content .link-boxes .box li a{
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  opacity: 0.8;
  transition: all 0.4s ease
}
.content .link-boxes .box li a:hover{
  opacity: 1;
  text-decoration: underline;
}
footer .bottom-details .bottom_text{
  max-width: 1250px;
  display: flex;
  justify-content: center;
}
.bottom-details .bottom_text span,
.bottom-details .bottom_text a{
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  opacity: 0.8;
  text-decoration: none;
}

.bottom-details .bottom_text a{
  margin-right: 10px;
}
@media (max-width: 900px) {
  footer .content .link-boxes{
    flex-wrap: wrap;
  }
  footer .content .link-boxes .input-box{
    width: 40%;
    margin-top: 10px;
  }
}
@media (max-width: 700px){
  footer{
    position: relative;
  }
  .content .top .logo-details{
    font-size: 26px;
  }
  .content .top .media-icons a{
    height: 35px;
    width: 35px;
    font-size: 14px;
    line-height: 35px;
  }
  footer .content .link-boxes .box{
    width: calc(100% / 3 - 10px);
  }
  footer .content .link-boxes .input-box{
    width: 60%;
  }
  .bottom-details .bottom_text span,
  .bottom-details .bottom_text a{
    font-size: 12px;
  }
}
@media (max-width: 520px){
  footer::before{
    top: 145px;
  }
  footer .content .top{
    flex-direction: column;
  }
  .content .top .media-icons{
    margin-top: 16px;
  }
  footer .content .link-boxes .box{
    width: calc(100% / 2 - 10px);
  }
  footer .content .link-boxes .input-box{
    width: 100%;
  }
}