.imgTabla {
    margin: 0px 0px 0px 0px;
    float: inherit;
    padding: 0px 0px 0px 0px;
    border: 1px solid #ddd;
    height: 65px;
    width: 80px;
  }

  .my-custom-scrollbar {
    position: relative;
    height: 400px;
    overflow: auto;
    }
    .table-wrapper-scroll-y {
    display: block;
    }
  
    table tr:nth-child(even) {
        background-color: #c8eae9;
    }
    
    table tr:nth-child(odd) {
        background-color: #FFF;
    }
    #end {
        background-color: #e5017d;
        color: white;
      }
      
      .table thead tr {
        height: 20px;
        padding-top: 10px;
      }
      
      #start{
        background-color: #e5017d;
        color: white;
      }
      
      .table tfoot tr {
        height: 20px;
        padding-top: 10px;
      }